#root{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: var(--white-color);
}
.main{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.main-container{
    position: fixed;
    pointer-events: none;
    width: calc(100vw + 20px);
    height: calc(100vh + 20px);
    border: 23px solid var(--white-color);
    border-radius: 42px;
    box-shadow: inset 0 -3px 0 var(--black-color), inset 0 3px 0 var(--black-color), inset -3px 0 0 var(--black-color), inset 3px 0 0 var(--black-color);
    top: -10px;
    left: -10px;
    z-index: 10;
}