.FancyCard{
    position: relative;
    h3{
        background: var(--dark-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 100;
        position: absolute;
        top: 0;
        left: 8px;
        font-size: 3vw;
        font-family: var(--gotham-font);
    }
    span{
        font-family: var(--cooper-font);
        opacity: .1;
        font-size: 26vw;
        position: absolute;
        top: 0;
        left: 40px;
        width: min-content;
    }
    .fancy-text{
        position: absolute;
        bottom: 5px;
        right: 9px;
    }
}

.CardProject{
    position: relative;
    transition: .3s ease-in-out;
    width: 100%;
    .Arrow{
        z-index: 1;
        opacity: 0;
        position: absolute;
        transform: rotate(0deg);
        height: 100px;
        top: 10px;
        right: 10px;
        width: 100px;
        transition: .3s ease-in-out;
        filter: invert(1);
        mix-blend-mode: difference;
        img{
            height: 100%;
            width: 100%;
        }
    }
    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--primary-color);
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: .3s ease-in-out;
    }
    &:hover{
        .Arrow{
            opacity: 1;
            transform: rotate(-45deg);
            transition: .3s ease-in-out;
        }
        &:after{
            transition: .3s ease-in-out;
            opacity: .2;
        }
    }
}

.TitleCard{
    grid-area: 1/1/2/3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    background: var(--white-color);
}

.LinkCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 10px;
    transition: .3s ease-in-out;
    background: var(--white-color);
    .Arrow{
        height: 100%;
        aspect-ratio: 1;
        margin-left: 0;
        transition: .3s ease-in-out;
        border-radius: 0;
        img{
            height: 100%;
        }
    }
    &:hover{
        background: var(--black-color);transition: .3s ease-in-out;
        border-radius: 0 140px 140px 0;
        .Arrow{
            margin-left: 100%;
            filter: invert(1);
            transform: translateX(-100%) rotate(-45deg);
            transition: .3s ease-in-out;
        }
    }
}

.CanvaThree{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .4;
        background: var(--light-color);
        z-index: 1;
        content: "";
        pointer-events: none;
    }
    canvas{
        filter: grayscale(1);
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        position: relative;
    }
}

.QuoteCard{
    padding: 10px;
    height: 100%;
    width: 100%;
    div{
        border-radius: 0 0 6px 0;
        padding: 10px;
        background: var(--primary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: flex-start;
    }
    span{
        text-align: center;
        transform: translateY(10px);
        text-decoration: none;
        margin-top: 60px;
        u{
            text-decoration: none;
        }
    }
    @media only screen and (max-width: 900px){
        div{
            border-radius: 0 0 6px 6px;
        }
    }
    @media only screen and (max-width: 700px){
        span{
            margin: 15px 0;
        }
    }
}

.ResumeCard{
    position: relative;
    #myResume{
        margin: 10px;
        height: 40%;
        width: 60%;
    }
    #sun{
        position: absolute;
        right: 0;
        top: 0;
        transform: scale(0.5);
        transform-origin: right top;
    }
    .Paperplane{
        position: absolute;
        top: 75%;
        transform: translateX(-100%);
        right: 100%;
        animation: flyOut 20s infinite linear;
        animation-delay: -6s;
    }
    .Paperplane:nth-of-type(2){
        top: 50%;
        animation-delay: 0s;
    }
    .Paperplane:nth-of-type(3){
        top: 66%;
        animation-delay: 9s;
    }
    @keyframes flyOut {
        from {
            transform: translateX(-100%);
            right: 100%;
        }
        to {
            transform: translateX(100%);
            right: 0;
        }
    }
    p{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    @media only screen and (max-width: 700px){
        height: 300px;
        #sun{
            display: none;
        }
    }
}

.TechnoCard{
    padding: var(--1m);
    .grid2{
        gap: var(--2m);
        margin-top: var(--1m);
    }
    .techno{
        font-weight: 800;
    }
}

.SpotifyCard{
    padding: 10px;
    color: var(--white-color);
    position: relative;
    background: linear-gradient(var(--primary-dark-color), var(--dark-color));
    h3{
        font-family: var(--gotham-font);
        font-size: 40px;
        line-height: 40px;
        background: var(--white-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .logoSpotify{
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 27px;
        aspect-ratio: 1;
        z-index: 1;
    }
    .playlist{
        margin-top: 10px;
        border-top: 1px solid rgba(var(--light-color-rgb), .5);
        padding: 10px 0 0 0;
        display: grid;
        width: calc(100% - 37px);
        max-height: calc(100% - 50px);
        height: auto;
        overflow-y: scroll;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
        .song{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            padding: 5px;
            overflow: hidden;
            color: var(--white-color);
            height: 40px;
            border-radius: 5px;
            .bg{
                display: none;
            }
            .logo{
                margin-right: 15px;
                width: 40px;
                height: auto;
                border-radius: 100%;
                overflow: hidden;
                aspect-ratio: 1 !important;
                transform: rotate(0deg);
                transition: 0.3s ease-in-out;
                display: none;
            }
            .logo:nth-of-type(1){
                display: block;
            }
            div{
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                overflow: hidden;
                text-align: left;
                width: -webkit-fill-available;
                b{
                    font-size: 15px;
                    line-height: 15px;
                    font-weight: 900 !important;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-align: left;
                    width: 100%;
                }
                p{
                    font-size: 13px;
                    line-height: 13px;
                    white-space: nowrap;
                    color: rgba(var(--light-color-rgb), .5);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-align: left;
                    width: 100%;
                }
                .artiste:not(:nth-of-type(1)){
                    display: none;
                }
            }
            &:hover{
                background: rgba(var(--white-color-rgb), 0.3);
                .logo{
                    animation: rotation 8s infinite linear;
                    transition: 0.3s ease-in-out;
                }
                @keyframes rotation {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(359deg);
                    }
                }
            }
        }
        .isPlaying{
            background: rgba(var(--white-color-rgb), 1);
            position: absolute;
            width: calc(100% - 57px);
            bottom: 10px;
            left: 10px;
            z-index: 1;
            border-radius: 0 0 5px 5px;
            padding: 20px !important;
            height: calc(100% - 70px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            &:after{
                content: "˟";
                position: absolute;
                top: 20px;
                right: 20px;
                color: rgba(var(--black-color-rgb), 0.5);
                font-family: var(--luxury-font);
                font-weight: 100;
                font-size: 50px;
                line-height: 40px;
            }
            .bg{
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 70%;
                transform: translate(-50%, -50%);
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    backdrop-filter: blur(10px) saturate(180%);
                    -webkit-backdrop-filter: blur(10px) saturate(180%);
                    background: linear-gradient(-90deg, rgba(var(--white-color-rgb), 0), var(--white-color));
                }
            }
            .logo{
                animation: rotation 8s infinite linear;
                transition: 0.3s ease-in-out;
                width: auto;
                max-width: 155px;
                height: auto;
                margin-right: auto;
                margin-bottom: 20px;
            }
            div{
                height: auto;
                display: flex;
                width: 100%;
                border-top: 1px solid rgba(var(--black-color-rgb), .3);
                padding-top: 10px;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                overflow: hidden;
                b{
                    font-size: 25px;
                    line-height: 30px;
                    font-weight: 900 !important;
                    white-space: nowrap;
                    color: var(--black-color);
                }
                p{
                    font-size: 13px;
                    margin-top: 5px;
                    white-space: nowrap;
                    color: rgba(var(--black-color-rgb), .8);
                }
                .artiste{
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: 800;
                    color: var(--black-color);
                }
            }
            @keyframes rotation {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(359deg);
                }
            }
            &:hover{
                background: rgba(var(--white-color-rgb), 1);
            }
        }
    }
}

.ContactCard{
    padding: var(--1m);
    form{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: calc(100% - 60px);
        button{
            height: 90px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            background: var(--white-color);
            transition: .3s ease-in-out;
            border-radius: 0;
            padding: 0;
            img{
                height: 100%;
                left: 0;
                position: relative;
                transition: .3s ease-in-out;
            }
            &:hover{
                filter: invert(1);
                transition: .3s ease-in-out;
                border-radius: 0 50px 50px 0;
                padding: 10px;
                img{
                    left: 100%;
                    transition: .3s ease-in-out;
                    transform: translateX(-100%) rotate(-45deg);
                }
            }
        }
    }
    .links{
        display: grid;
        gap: var(--2m);
        margin-top: var(--1m);
        a{
            text-align: left;
        }
    }
}