.FancyCard{
    position: relative;
    h3{
        background: var(--dark-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 100;
        position: absolute;
        top: 0;
        left: 8px;
        font-size: 45px;
        font-family: var(--gotham-font);
    }
    span{
        font-family: var(--cooper-font);
        opacity: .1;
        font-size: 26vw;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: min-content;
    }
    .fancy-text{
        position: absolute;
        bottom: 5px;
        right: 9px;
    }
}

.TitleCard{
    grid-area: 1/1/2/3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    background: var(--white-color);
}

.LinkCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 10px;
    transition: .3s ease-in-out;
    background: var(--white-color);
    .Arrow{
        height: 100%;
        aspect-ratio: 1;
        margin-left: 0;
        transition: .3s ease-in-out;
        border-radius: 0;
        img{
            height: 100%;
        }
    }
    &:hover{
        background: var(--black-color);transition: .3s ease-in-out;
        border-radius: 0 140px 140px 0;
        .Arrow{
            margin-left: 100%;
            filter: invert(1);
            transform: translateX(-100%) rotate(-45deg);
            transition: .3s ease-in-out;
        }
    }
}

.CanvaThree{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    canvas{
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        position: relative;
    }
}

.QuoteCard{
    padding: 10px;
    height: 100%;
    width: 100%;
    div{
        border-radius: 0 0 6px 0;
        padding: 10px;
        background: var(--primary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
    }
    span{
        text-align: center;
        transform: translateY(10px);
        text-decoration: none;
        margin-top: 18px;
        u{
            text-decoration: none;
        }
    }
}

.ResumeCard{
    grid-area: 1/2/2/4;
    position: relative;
    #myResume{
        margin: 10px;
    }
    #sun{
        position: absolute;
        right: 0;
        top: 0;
        transform: scale(0.75);
        transform-origin: right top;
    }
    .Paperplane{
        position: absolute;
        top: 75%;
        transform: translateX(-100%);
        right: 100%;
        animation: flyOut 20s infinite linear;
        animation-delay: -6s;
    }
    .Paperplane:nth-of-type(2){
        top: 50%;
        animation-delay: 0s;
    }
    .Paperplane:nth-of-type(3){
        top: 66%;
        animation-delay: 9s;
    }
    @keyframes flyOut {
        from {
            transform: translateX(-100%);
            right: 100%;
        }
        to {
            transform: translateX(100%);
            right: 0;
        }
    }
    p{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

.LanguagesCard{
    grid-area: 1/1/2/3;
}

.SpotifyCard{
    padding: 10px;
    color: var(--white-color);
    position: relative;
    background: linear-gradient(var(--primary-dark-color), var(--dark-color));
    //&:after{
    //    content: "";
    //    position: absolute;
    //    bottom: 0;
    //    left: 0;
    //    width: 100%;
    //    max-height: 150px;
    //    pointer-events: none;
    //    height: 60%;
    //    background: linear-gradient(rgba(var(--primary-dark-color-rgb), 0), var(--dark-color));
    //}
    h3{
        font-family: var(--gotham-font);
        font-size: 40px;
        line-height: 40px;
        background: var(--white-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .logoSpotify{
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 27px;
        aspect-ratio: 1;
        z-index: 1;
    }
    .playlist{
        margin-top: 10px;
        border-top: 1px solid rgba(167, 166, 166, 0.3);
        padding: 10px 0 20px 0;
        display: grid;
        width: calc(100% - 37px);
        height: calc(100% - 30px);
        overflow-y: scroll;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        .song{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            padding: 5px;
            color: var(--white-color);
            height: 40px;
            border-radius: 5px;
            .logo{
                margin-right: 15px;
                width: 30px;
                border-radius: 50px;
                overflow: hidden;
                aspect-ratio: 1;
                transform: rotate(0deg);
                transition: 0.3s ease-in-out;
            }
            div{
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                overflow: hidden;
                b{
                    font-size: 15px;
                    line-height: 8px;
                    font-weight: 900 !important;
                    white-space: nowrap;
                }
                p{
                    font-size: 13px;
                    white-space: nowrap;
                    color: #A7A6A6;
                }
            }
            &:hover{
                background: rgba(var(--white-color-rgb), 0.3);
                .logo{
                    animation: rotation 8s infinite linear;
                    transition: 0.3s ease-in-out;
                }
                @keyframes rotation {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(359deg);
                    }
                }
            }
        }
    }
}

.ContactCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    form{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: calc(100% - 60px);
        button{
            height: 90px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            background: var(--white-color);
            transition: .3s ease-in-out;
            border-radius: 0;
            padding: 0;
            img{
                height: 100%;
                left: 0;
                position: relative;
                transition: .3s ease-in-out;
            }
            &:hover{
                filter: invert(1);
                transition: .3s ease-in-out;
                border-radius: 0 50px 50px 0;
                padding: 10px;
                img{
                    left: 100%;
                    transition: .3s ease-in-out;
                    transform: translateX(-100%) rotate(-45deg);
                }
            }
        }
    }
    .links{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 10px;
        a{
            text-align: right;
        }
    }
}