.nav{
    width: 180px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-right: var(--border-black);
}
.nav span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    line-height: 14px;
}
.nav span b{
    font-family: var(--title-font);
    font-size: 36px;
    line-height: 30px;
    margin-right: 3px;
}
.nav p{
     line-height: 17px;
}