.containerNav{
    width: calc(100vw - 26px);
    height: calc(100vh - 26px);
    position: fixed;
    top: 13px;
    left: 13px;
    z-index: 1;
    border-radius: 20px;
    border: var(--border-black);
    .nav{
        width: 180px;
        min-width: 180px;
        height: calc(100vh - 32px);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-right: var(--border-black);
        background: var(--white-color);
        .dflex{
            justify-content: space-between;
        }
        span{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            font-weight: 900;
            line-height: 14px;
            b{
                font-family: var(--title-font);
                font-size: 36px;
                line-height: 30px;
                margin-right: 3px;
            }
            p{
                line-height: 17px;
            }
        }
    }
}