.containerNav{
    width: calc(100vw - 26px);
    height: calc(100vh - 26px);
    position: fixed;
    top: 13px;
    left: 13px;
    z-index: 1;
    border-radius: 20px;
    border: var(--border-black);
    .nav{
        --navWidth: 180px;
        width: var(--navWidth);
        min-width: var(--navWidth);
        height: calc(100vh - 32px);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-right: var(--border-black);
        background: var(--white-color);
        .dflex{
            justify-content: space-between;
        }
        span{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            font-weight: 900;
            line-height: 14px;
            b{
                font-family: var(--title-font);
                font-size: 36px;
                line-height: 30px;
                margin-right: 3px;
            }
            p{
                line-height: 17px;
            }
        }
    }
    @media only screen and (max-width: 1250px){
        .nav{
            --navWidth: 130px !important;
        }
    }
    @media only screen and (max-width: 900px){
        width: calc(100vw - 26px);
        height: 50px;
        z-index: 10;
        border-radius: 20px 20px 0 0;
        border: var(--border-black);
        background: var(--white-color);
        .nav{
            width: 100%;
            min-width: 100%;
            height: 100%;
            display: flex;
            border-radius: 16px 16px 0 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-right: none;
            &>p{
                display: none;
            }
            span{
                font-size: 12px;
                line-height: 10px;
                b{
                    font-size: 28px;
                    line-height: 26px;
                }
            }
        }
    }
}