#parentDetailPorject{
  width: calc(100% - 212px);
  min-height: 100%;
  margin-left: 196px;
  padding: 16px 0;
  z-index: 2;
  height: auto;
  transform: translate(0) !important;
}
.ProjectPage_Container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  &>div:not(.grid3), &>figure{
    height: calc(calc(calc(100vh - 29px) / 5) * 2);
  }
  &>.grid3{
    height: calc(calc(calc(100vh - 29px) / 5) * 1);
    border-bottom: var(--border-black);
    .card+.card{
      border-left: var(--border-black);
    }
  }
  figure{
    border-bottom: var(--border-black);
  }
  .card{
    overflow: hidden;
  }
  .desc{
    padding: 10px;
    h3{
      padding-bottom: 10px;
    }
  }
}